###############################################################################
# Copyright (c) 2011 Evgeny Proydakov <lord.tiran@gmail.com>
###############################################################################

driver # здесь мы описываем какой мир необходимо выбрать для моделирования
(
    name "stage"
    provides [ "simulation:0" ]
    plugin "stageplugin"
    # load the named file into the simulator
    worldfile "simple.world"
)
driver # здесь мы описываем какой драйвер проекта необходимо подключить для моделирования нашего робота которого мы назвали актер
(
    name "stage"
    provides [ "6665:position2d:0" ]
    model "actor"
)
